@charset "UTF-8";
body{
	background-color:whitesmoke;
}
.form{
    background-color:rgb(88, 235, 112);
	width:30%;
    border-radius:10px;
    text-align: center;
    padding:20px 20px; 
    margin-left:30%;  
    margin-top:5%;
    color:white;
}
h2{
    color:black;
    padding:0;
}
.button{
    color:yellowgreen;
    border-radius:5px;
    padding:10px;
    color:brown;
}
